.beneficios {
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    margin-left: 9%;
    background-color: rgb(255, 253, 253);
    align-items: initial;
}
.beneficio__inicio {
   margin-left: 9%;
}
.beneficios__titulo {


}
.beneficios__descricao {


}
.lista-beneficios {


}
.beneficios__img {
    display: flex;
    width: 30%;
    padding-bottom: 7%;

}
.beneficios__titulo {
    display: flex;
    align-self: center;


}
.beneficios__descricao {
    display: flex;
    color: gray;
    width: auto;
    margin-right: 5%;
    gap: ;
}
.beneficios__subtitulo {
    color: gray;
    margin-right: 8%;
    width: 50%;
}
