.beneficios {
    display: flex;
    flex-direction: row;
    padding-top: 8%;
    margin-left: 9%;
    align-items: initial;

}
.beneficio__inicio {
    display: flex;
    flex-direction: column;
    margin-left: 9%;

}
.beneficios__titulo-principal {
    font-size: 2rem;
    padding-bottom: 3%;
    margin-top: 15%;
}

.beneficios__img {
    display: flex;
    width: 30%;
    padding-bottom: 10%;
    padding-top: 10%;


}
.beneficios__titulo {
    display: flex;
    align-self: center;
    margin-bottom: 9%;


}
.beneficios__descricao {
    display: flex;
    color: gray;
    width: auto;
    margin-right: 5%;

}
.beneficios__subtitulo {
    color: gray;
    margin-right: 8%;
    width: 50%;
}

@media(max-width:768px) {
    .beneficios {
        display: flex;
        flex-direction: column;
        padding-top: 5%;
        justify-items: center;
    
    }
    .beneficio__inicio {
        display: flex;
        flex-direction: column;
        justify-items: center;  


    }
    .beneficios__titulo-principal {
        display: flex;
        font-size: 2rem;
        margin: auto;
        padding-top: 10%;
  
    }
    .beneficios__subtitulo {
        display: flex;
        text-align: center;
        width: auto;
        margin: 0%;
        padding-top: 8%;
        justify-content: center;
    }
    .beneficios__img {
        display: flex;
        margin: auto;
        padding-bottom: 7%;
    
    
    }
    .beneficios__titulo {
        display: flex;
        justify-content: center;
       
    }
    .beneficios__descricao {
        display: flex;
        text-align: center;
        margin: auto;
        padding-bottom: 10%;
    }
   
}