.cabeçalho {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}
.menu {
    display: flex;
    justify-content: center;
}
.menu-item {
    list-style: none;
    margin: 5%;
    text-decoration: none;
}
.invite {
    display: flex;
    border-radius: 20px;
    padding: 10px;
}
